 ::-moz-selection { /* Code for Firefox */
  background: #303030;
}

::selection {
  background: #303030;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    @apply bg-gray-900 w-full h-full
}

.name,.thing-title {
    text-decoration: underline 1px #616161;
    @apply transition-all
}

.name:hover {
    text-decoration: underline 1px #a6a6a6;
    color: var(--hcolor);
}

.thing-title:hover {
    text-decoration: underline 1px #a6a6a6;
}

.thing {
    @apply flex justify-between align-middle mb-2
}

.thing-title {
    @apply font-mono text-gray-100 
}

.thing-desc {
    /*transform: translateY(1.5px);*/
    max-width: 60vw;
    text-align: right;
    @apply font-mono text-sm font-bold text-gray-300;
}

.author {
    @apply text-sm font-light border-r pr-2 border-gray-600
}

.App {
    @apply m-5
}

#blurb {
    animation-name: fadeup;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/*#sanity {*/
/*    @apply text-gray-200 italic font-mono font-bold pr-2*/
/*}*/

/*.prjs {*/
/*    [>animation-duration: 5s ease;<]*/
/*    [>opacity: 1;<]*/
/*    [>transform: translateY(3rem);<]*/
/*    [>animation: fadeup 1.8s ease 0.5s forwards;<]*/
/*}*/

.thing-wrap {
    animation-delay: calc(var(--anim-order)*100ms + 500ms);
    animation-name: fadeup;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeup {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


